#LR{
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 5%;

}
#left{
    width: 60%;
    border: 1px solid black;
}
#right{
    width: 35%;
    border: 0px solid black;
}
#reviewDetail{
    width: 90%;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
#BWC{
    width: 90%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;

}
.BWC_card{
    display: flex;
    border: 1px solid green;
}


#copyright{
    text-align: center;
    margin-top: 5%;
}