body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar{
    margin: auto;
    margin-top: 1.2%;
    margin-bottom: -20px;
    border: 0px solid red;
    height: 100px;
    width: 70%;
   
    
    
}
.logoDiv{
    border: 0px solid green;
    text-align: center;
    /* margin-bottom: 1%; */
}
.logo {
    border: 0px solid black;
    margin: auto;
    width: 20%;

}
.hr{
    /* border: 1px solid red; */
    margin-bottom: -10px;
}
.BTB{
    /* margin-top: 0px; */
    text-decoration: none;
    color: grey;
    font-size: 13px;
    
}
#main{
    border: 0px solid red;
    height: auto;
    width: 73%;
    margin: auto;
    margin-top: 20px;
}
#main>h2{
    font-weight: 500;
}
#para1{
    margin-top: -5px;
    width: 100%;
    background-color: rgb(216, 243, 236);
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}
#para1>p{
    margin-left: 15px;
}
#contact{
    width: 100%;
    /* border: 0px solid black; */
    display: flex;
}
#contact>div>input{
    margin-right: 5px;
}
.redStar{
    color:red
}
.boxSize{
    border-color:black;
   
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    

    border-radius: 5px;
}
#next{
    width: 60%;
    border: 0px;
    margin-left: 25%;
    background-color: black;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 50px;
    margin-top: 15%;
}
#next:hover{
    background-color: rgb(42, 41, 41);
}

#payStatus{
    border: 0px solid black;
    width: 50%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;

}

#payStatus>div{
    border: 0px solid teal;
    width: 30%;
    text-align: center;
}
.statusBox{
    height: 5px;
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;

    margin-bottom: -10%;

}
p{
    font-weight: 600;
}
#tdinput{
    display: flex;

}
#tdinput>div>input{
    margin-right: 5px;
}
#LR{
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
    height: auto;
    /* margin-top: 5%; */

}
#left{
    width: 60%;
    border: 0px solid black;
    height: auto;
}
#right{
    width: 35%;
    border: 0px solid black;
}
#reviewDetail{
    width: 90%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
#rvPara{
    padding-top: 5%;
}

#copyright{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
#ROD{
    width: 100%;

    border: 0px solid red;
    height: auto;

}
#ROD1{
    border: 0px solid red;
    margin-top: -15px;
}
#ROD1>img{
    border-radius: 10px;
    width: 100%;
    height: 50%;
    


}
#ROD2{
    border: 0px solid rgb(13, 146, 79);
    /* width:100%; */
    margin: auto;
}
.bookingFee{
    display: flex;
    justify-content: space-between;
}
#title{
    margin-top: 0px;
    border: 0px solid teal;
}

#BWC{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 0px solid black;
    height: auto;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 8%;
}
#BWC>div{
    width: 90%;
    margin: auto;
}
.lowestPrice{
    border: 0px solid green;
    display: flex;
    margin-bottom: 5%;
}
.lowestPrice>div{
border: 0px solid black;
margin-right: 8%;
}
.lowestPrice+div>i{
    size: 20px;
}
.lowestPrice>div>p{
    margin-top: 0px;
    margin-bottom: 2px;
}
#promo{
    text-decoration: underline;
}


